2021그랩_알고리즘출제_1.py
2021그랩_알고리즘출제_1_1.py
2021그랩_알고리즘출제_2.py
2021그랩_알고리즘출제_3.py
2021그랩_알고리즘출제_4.py
2021네이버_AI_인턴.py
2021네이버웹툰_AI_1.py
2021네이버웹툰_AI_2.py
2021네이버웹툰_AI_2_1.py
2021네이버웹툰_AI_3.py
2021네이버웹툰_AI_3_1.py
2021네이버웹툰_AI_New과제1.py
2021네이버웹툰_AI_New과제2.py
2021네이버웹툰_AI_과제1.py
2021네이버웹툰_AI_과제2.py
2021올리브영_경력_1.py
2021올리브영_경력_2.py
2021카카오페이_1.py
2021카카오페이_2.py
2021카카오페이_3.py
2021카카오페이_3_1.py
2021카카오페이_4.py
21 MOBIS 알고리즘 경진대회_1.py
21 MOBIS 알고리즘 경진대회_2.py
21 MOBIS 알고리즘 경진대회_2_1 - 복사본.py
21 MOBIS 알고리즘 경진대회_2_1.py
21 MOBIS 알고리즘 경진대회_2_2 - 복사본.py
21 MOBIS 알고리즘 경진대회_3.py
21 MOBIS 알고리즘 경진대회_4.py
kakaopay04-1.png
kakaopay04-2.png
kakaopay04-3.png
kakaopay04-4.png


sw_1.py
sw_2.py
test2_re.py
test_re.py

위클리 챌린지 4주차.py
진짜테스트용.py
파이썬알고문제정렬.py
현대엔지비.docx

그랩1.png
그렙2mobis5.png
그렙3.png
tree_partion_2.png